<po-list-view
    [p-hide-select-all]="true"
    p-property-link="url"
    [p-items]="colaboradoresFiltrados"
    [p-actions]="actions"
  >
    <ng-template p-list-view-content-template let-item [p-title]="formatTitle">
      <div class="po-row">
        <po-info class="po-lg-4" p-label="Filial" [p-value]="item.filial"></po-info>

        <po-info class="po-lg-4" p-label="Matrícula" [p-value]="item.matricula"></po-info>

        <po-info class="po-lg-4" p-label="Saldo Total" [p-value]="(item.saldo_total | currency:'BRL') ?? ''"></po-info>
      </div>
    </ng-template>

    <ng-template p-list-view-detail-template let-item [p-show-detail]="showDetail">
      <div class="po-row">
        <po-divider p-label="Histórico de Créditos"></po-divider>

        <div
          class="po-md-12"
          *ngFor="let hist of item.historico"
          style="margin-bottom: 8px; border-bottom: 1px solid #eee; padding-bottom: 8px;"
        >
          <po-info class="po-md-4" p-label="Período" [p-value]="hist.periodo"></po-info>
          <po-info class="po-md-4" p-label="Crédito" [p-value]="(hist.valor_credito | currency:'BRL') ?? ''"></po-info>
          <po-info class="po-md-4" p-label="Saldo" [p-value]="(hist.valor_saldo | currency:'BRL') ?? ''"></po-info>
        </div>
      </div>
    </ng-template>
</po-list-view>

<po-modal #modalNovoCredito p-title="Novo Crédito">

  <form #creditoForm="ngForm">

    <po-input 
      name="periodo"
      p-label="Período"
      [(ngModel)]="periodo">
    </po-input>

    <po-number 
      name="valorCredito"
      p-label="Valor"
      [(ngModel)]="valorCredito">
    </po-number>

  </form>

  <po-modal-footer>

    <po-button
      p-label="Cancelar"
      p-type="secondary"
      (p-click)="modalNovoCredito.close()">
    </po-button>

    <po-button 
      p-label="Salvar"
      p-primary
      [p-loading]="isSaving"
      [p-disabled]="isSaving"
      (p-click)="salvarCredito()">
    </po-button>

  </po-modal-footer>

</po-modal>



