<po-list-view
    [p-hide-select-all]="true"
    p-property-link="url"
    [p-items]="colaboradoresFiltrados"
    
  >
    <ng-template p-list-view-content-template let-item [p-title]="formatTitle">
      <div class="po-row">
        <po-info class="po-lg-4" p-label="Matrícula" [p-value]="item.matricula"></po-info>

        <po-info class="po-lg-4" p-label="Cargo" [p-value]="item.cargo"></po-info>
      </div>
    </ng-template>

    <ng-template p-list-view-detail-template let-item [p-show-detail]="showDetail">
      <div class="po-row">
        <po-info class="po-md-6" p-label="Age" [p-value]="item.age"></po-info>

        <po-info class="po-md-6" p-label="City" [p-value]="item.city"></po-info>
      </div>
    </ng-template>
</po-list-view>